/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body {
    font-family: 'Bree Serif', serif;
    background-color: #f4f4f4;
}

#testoAlternato{
    text-align: center;
    border: 2px solid cornflowerblue;
    padding: 40px;
    margin: 10px;
}
#testoAlternato p {
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
}
.parole{
    position: relative;
    text-align: left;
    width:190px;
    display:inline-block;

}
i{
    color:cornflowerblue;
}
.uno{
    animation: fade-in 9s infinite;
    animation-fill-mode: both;
}
.due{
    position: absolute;
    left: 0;
    animation: fade-in 9s infinite;
    animation-fill-mode: both;
    animation-delay: 3s;
    
}
.tre{
    position: absolute;
    left: 0; 
    animation: fade-in 9s infinite;
    animation-fill-mode: both;
    animation-delay: 6s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    10%, 30% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
