*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    font-family: "Indie Flower", system-ui;
}
.post-it{
    width: 280px;
    background-color: white;
    height: 220px;
    display: flex;
    padding: 32px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.52);
    transform: scale(0);
    transition-property: transform;
    transition-duration: 1s;
    animation: start 1s;
    animation-fill-mode: backwards;
}
.post-it:nth-child(1){
    animation-delay: 1s;
}
.post-it:nth-child(2){
    animation-delay: 2s;
}
.post-it:nth-child(3){
    animation-delay: 3s;
}
.post-it:nth-child(4){
    animation-delay: 4s;
}
.post-it:nth-child(5){
    animation-delay: 5s;
}
.post-it:nth-child(6){
    animation-delay: 6s;
}
.post-it:nth-child(7){
    animation-delay: 7s;
}
.post-it:nth-child(8){
    animation-delay: 8s;
}
.post-it:hover{
    transform: scale(1.2);
}
.task-container{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

h1{
    font-size: 32px;
    font-weight: 600;
}
p{
    font-size: 18px;
    margin-top: 8px;
}
.green{
    background-color: rgb(196, 230, 146);
    transform: rotate(5deg);
}
.violet{
    background-color: rgb(243, 189, 243);
    transform: rotate(-6deg);
}
.yellow{
    background-color: rgb(248, 248, 167);
    transform: rotate(-2deg);
}

@keyframes start {
    from{
        opacity: 0;
        transform: scale(10);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }

}